.hero{
    background-image: url('../images/hero-section-image.png');
    background-size: cover;
    min-height: 665px;
}

@media (max-width: 768px) {
    .hero {
min-height: 453px
    }
}
.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}


h1{
    font-family: Calistoga;
    font-size: clamp(40px, 3vw, 58px);
}

h2{
    font-family: Alfa Slab One;
    font-weight: clamp(20px, 2vw, 40px);
}

.navbar-brand {
    font-family: Calistoga;
    color: #2b0a1a;
}

.nav-link {
    font-family: Prompt;
    Color: #2b0a1a;
}

.navbar {
    margin-top: -8px;
}

.container-fluid {
    background-color: #efadce;
    margin-bottom: -8px;
}

.navbar a {
    padding: 4px;
}

.nav-item {
    padding: 4px;
}

.hero-text {
    width: 887px;
    margin: 0 auto;
    padding: 5px;
    padding-top: 50px;
    margin-right: 20%;
    font-size: clamp(21px, 2vw, 246px);
}

.selfie {
    float: center;
}


.who-am-i-header {
    margin-top: 10px;
    margin-left: 10px;
}
